<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wind.safecall">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--添加可以向外拨打电话的权限  -->
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <permission android:name="blacknum.permission"
        android:protectionLevel="normal"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- 开机广播 -->
        <receiver android:name=".broadcastreceiver.BootCompletedReceiver">
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <service android:name=".service.BlackNumService"/>
        <provider
            android:authorities="blacknum"
            android:name=".contentprovider.MyContentProvider"
            android:permission="blacknum.permission"
            />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PhoneCallActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.BlackNumActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>